.container {
    background-color:aqua;
    margin-top: 20px;
}
.row {


}
.col-sm {
margin: 20px;
background-color: blueviolet;
color: burlywood;

}
.container-fluid {
    height: 100px;
    background-color: dimgray;
    margin-top: 20px;
}
.oskar {
    background: url(../2.jpg);
    height: 300px;
    padding: 20px;
    border: 1px solid black;
}
.oskar2 {
    background: url(../1.png);
    height: 300px;
    padding: 20px;
    border: 1px solid black;
}
.sekcja{
    
}